
.hero{
    margin-top: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#63270d8d,rgba(91, 82, 58, 0.7) ) , url('../../assets/background2.jpeg');
    background-size: cover;          /* makes it fill the background */
    background-repeat: no-repeat;    /* prevents tiling */
    background-position: center;     /* centers the image */
    background-attachment: fixed;    /* makes it stay fixed while scrolling (optional) */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    

}
.hero-text{
    text-align: center;
    max-width: 800px;

}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}