
.hero{
    margin-top: 0;
    width: 100%;
    min-height: 100vh;
<<<<<<< HEAD
    background: linear-gradient(#63270d8d,rgba(91, 82, 58, 0.7) ) , url('../../assets/background2.jpeg');
=======
    background:  url('../../assets/background.jpeg');
>>>>>>> 350fe56d753e391ac4c39a342b1e5e3eb2eb484f
    background-size: cover;          /* makes it fill the background */
    background-repeat: no-repeat;    /* prevents tiling */
    background-position: center;     /* centers the image */
    /*background-attachment: fixed;     makes it stay fixed while scrolling (optional) */
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center;
<<<<<<< HEAD
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    
=======
     */
>>>>>>> 350fe56d753e391ac4c39a342b1e5e3eb2eb484f

}
.hero-text{
    text-align: left;
    max-width: 800px;
    margin-left: 15px;
    color: rgb(50, 39, 26);
    padding-top: 15%;
   
    
    

}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;


}
.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    margin-left: 1px;
    line-height: 1.4;
    
}
