.hero{
    width: 100%;
    min-height: 100vh;
    background:  url('../../assets/background.jpeg');
    background-size: cover;          /* makes it fill the background */
    background-repeat: no-repeat;    /* prevents tiling */
    background-position: center;     /* centers the image */
    /*background-attachment: fixed;     makes it stay fixed while scrolling (optional) */
    color: white;
    /* display: flex;
    align-items: center;
    justify-content: center;
     */

}
.hero-text{
    text-align: left;
    max-width: 800px;
    margin-left: 15px;
    color: rgb(50, 39, 26);
    padding-top: 15%;
   
    
    

}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;


}
.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    margin-left: 1px;
    line-height: 1.4;
    
}
