.title{
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;

}
.title h2 {
    font-size: 44px;
    color: white;
    margin-top: 5px;
    text-transform: none;
}