.title{
    text-align: center;
    color: #eae8e4;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;

}
.title h2 {
    font-size: 40px;
    color: #dfdedc;
    margin-top: 5px;
    text-transform: none;
}