@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


.navbar {
  /* background-color: #D7CE93; */
  background-color: #63270d;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.navbar-logo a {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.navbar-logo {
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;

}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-menu li a:hover {
  color: #667eea;
}

.navbar-auth {
  display: flex;
  align-items: center;
 
}

.login-btn {
  background: linear-gradient(135deg, #4f3816 0%, #51340b 100%);
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.2s ease;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}