@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Shadows+Into+Light&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

=======
>>>>>>> 350fe56d753e391ac4c39a342b1e5e3eb2eb484f
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    background: url("C:\Users\Dell\Desktop\nazia-react-app2\copy\src\assets\bg3.jpeg");


}

a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}
.container{
    padding-left:10%;
    padding-right:10%;
    color: #392b12;
    font-family: "Aladin", system-ui;
    
}
.btn{
    background: #FFF;
    color: #212121;
    padding: 14px 25px; /* top-bottom and left-right*/
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
}
.footer-container{
    font-family: "Ubuntu", sans-serif;
}
.navbar-logo {
    font-family: "Ubuntu", sans-serif;
}